<table class="list">
  <thead>
    <tr>
      <th>Field</th>
      <th>Transformer</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @transformations.each do |transformation| %>
    <tr>
      <td><%= transformation.field.name %></td>
      <td><%= transformation.transformer.name %></td>
      <td><%= delete_link("Delete", "/projects/#{@project.id}/resources/#{@resource.id}/transformations/#{transformation.id}") %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<p>
  <a href="/projects/<%= @project.id %>/resources/<%= @resource.id %>/transformations/new">New transformation</a>
</p>
