<% @breadcrumbs = [@project, @resource, @transformation] %>
<%= error_messages_for @transformation %>
<form method="post" action="/projects/<%= @project.id %>/resources/<%= @resource.id %>/transformations">
  <p>
    <label for="source_field_id">Field</label><br/>
    <select id="source_field_id" name="transformation[source_field_id]">
    <% @fields.each do |field| %>
      <option value="<%= field.id %>"><%= field.name %></option>
    <% end %>
    </select>
  </p>
  <p>
    <label for="transformer_id">Transformer</label><br/>
    <select id="transformer_id" name="transformation[transformer_id]">
    <% @transformers.each do |transformer| %>
      <option value="<%= transformer.id %>"><%= transformer.name %></option>
    <% end %>
    </select>
  </p>
  <p>
    <input type="submit" value="Submit" /> or <a href="/projects/<%= @project.id %>/resources/<%= @resource.id %>">Cancel</a>
  </p>
</form>
