<%- @breadcrumbs = [@project, @resource, "Edit"] -%>
<%- add_javascript('jquery.dataTables.min.js') -%>
<%- add_stylesheet('jquery-ui.css', 'dataTables.css') -%>
<%= error_messages_for @resource %>

<h2>Fields To Select</h2>
<table id="fields" class="dataTable" style="clear: both;">
  <thead>
    <tr>
      <th><input id="toggle_all" type="checkbox" /></th>
      <th>Field</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
  <%- @fields.each do |field| -%>
    <tr>
      <td style="text-align: center;"><input id="field_checkbox_<%= field.id %>" class="field_checkbox" type="checkbox" onclick="toggleField('<%= field.id %>', this);"<%= " checked='checked'" if field.is_selected %> /></td>
      <td><label for="field_checkbox_<%= field.id %>"><%= field.name %></label></td>
      <td><%= field.db_type %></td>
    </tr>
  <%- end -%>
  </tbody>
</table>
<div id="selection_count"><strong>Fields currently selected</strong>: <span><%= @selection_count %></span> (out of <%= @fields.length %>)</div>

<form method="post" action="/projects/<%= @project.id %>/resources/<%= @resource.id %>">
  <div style="display: none;">
    <input name="_method" type="hidden" value="put" />
    <%- @fields.each do |field| -%>
    <input type="hidden" name="resource[fields_attributes][<%= field.id %>][id]" value="<%= field.id %>" />
    <input id="field_<%= field.id %>" class='field' type="hidden" name="resource[fields_attributes][<%= field.id %>][is_selected]" value="<%= field.is_selected ? 1 : 0 %>" />
    <%- end -%>
  </div>
  <div class="clear"></div>
  <br/>
  <p>
    <input type="submit" value="Submit" /> or <a href="/projects/<%= @project.id %>/resources/<%= @resource.id %>">Cancel</a>
  </p>
</form>

<script type="text/javascript">
  var selection_count = <%= @selection_count %>;

  // called when an actual click happens
  function toggleField(id, checkbox) {
    input = $('#field_'+id);
    if ($(checkbox).is(':checked')) {
      input.val(1);
      selection_count++;
    }
    else {
      input.val(0);
      selection_count--;
    }
    updateCount();
  }
  function updateCheckboxes() {
    $('#fields .field_checkbox').each(function() {
      id = this.id.replace("_checkbox", "");
      console.log(this, $('#'+id).val());
      $(this).attr('checked', $('#'+id).val() == "1");
    });
  }
  function updateCount() {
    $('#selection_count span').html(selection_count);
  }

  var oTable;
  $(function() {
    oTable = $('#fields').dataTable({
      bJQueryUI: true, aaSorting: [],
      aoColumns: [ { bSortable: false, bSearchable: false }, null, null ],
      fnDrawCallback: updateCheckboxes
    });
    $('#toggle_all').click(function() {
      if ($(this).is(':checked')) {
        $('.field:hidden').val(1);
        selection_count = <%= @selection_count %>;
      }
      else {
        $('.field:hidden').val(0);
        selection_count = 0;
      }
      updateCheckboxes();
      updateCount();
    });
  });
</script>
