<% if @resources.empty? %>
<p>There are currently no resources for this project.</p>
<% else %>
<table class="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Connection</th>
      <th>Table</th>
    </tr>
  </thead>
  <tbody>
  <% @resources.each do |resource| %>
    <tr>
      <td><a href="/projects/<%= @project.id %>/resources/<%= resource.id %>"><%= resource.name %></a></td>
      <td><%= resource.connection.name %></td>
      <td><%= resource.table_name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
