<% @breadcrumbs = [@project, @resource] %>
<%- add_javascript('jquery-ui.min.js') -%>
<%= error_messages_for @resource %>

<div class="strong">Choose a resource type:</div>
<div id="resource-type-buttons" style="padding: 1em 0 2em 2em">
  <input id="type-database" name="resource[type]" type="radio" value="database" /><label for="type-database">Database</label>
  <input id="type-csv" name="resource[type]" type="radio" value="csv" /><label for="type-csv">CSV</label>
</div>

<div id="resource-database" style="display: none">
  <form method="post" action="/projects/<%= @project.id %>/resources">
    <h2>Database</h2>
    <table class="form">
      <tr>
        <td class="left"><label for="name" class="strong">Name</label></td>
        <td>
          <input id="name" name="resource[name]" type="text" />
        </td>
      <tr class="alt">
        <td class="left"><label for="connection_id" class="strong">Connection</label></td>
        <td>
          <select id="connection_id" name="resource[connection_id]">
          <%- @connections.each do |connection| -%>
            <option value="<%= connection.id %>"><%= connection.name %></option>
          <%- end -%>
          </select>
      </tr>
      <tr>
        <td class="left"><label for="database_name" class="strong">Database</label></td>
        <td>
          <input id="database_name" name="resource[database_name]" type="text" value="<%= @resource.database_name %>" />
        </td>
      </tr>
      <tr class="alt">
        <td class="left"><label for="table_name" class="strong">Table</label></td>
        <td>
          <input id="table_name" name="resource[table_name]" type="text" value="<%= @resource.table_name %>" />
        </td>
      </tr>
    </table>
    <p>
      <input type="submit" value="Submit" /> or <a href="/projects/<%= @project.id %>">Cancel</a>
    </p>
  </div>
</form>

<div id="resource-csv" style="display: none;">
  <form id="new-import" method="post" action="/projects/<%= @project.id %>/imports" enctype="multipart/form-data">
    <h2>CSV Import</h2>
    <p>
      <input type="file" name="import[data]" />
    </p>
  </form>
</div>

<script type="text/javascript">
  $(function() {
    $('#resource-type-buttons').buttonset();
    $('input[name="resource[type]"]').change(function() {
      val = $(this).val();
      if (val == "database") {
        $('#resource-csv').fadeOut('fast', function() {
          $('#resource-database').fadeIn('fast');
        });
      }
      else if (val == "csv") {
        $('#resource-database').fadeOut('fast', function() {
          $('#resource-csv').fadeIn('fast');
        });
      }
    });
    $('input:file').change(function() {
      $('#new-import').submit();
    });
  });
</script>
