<% @breadcrumbs = [@project, @resource] %>
<%= error_messages_for @resource %>
<form method="post" action="/projects/<%= @project.id %>/resources">
  <table class="form">
    <tr>
      <td class="left"><label for="name">Name</label></td>
      <td>
        <input id="name" name="resource[name]" type="text" value="<%= @resource.name %>" />
      </td>
    </tr>
    <tr class="alt">
      <td class="left"><label for="connection_id">Connection</label></td>
      <td>
        <select id="connection_id" name="resource[connection_id]">
        <%- @connections.each do |connection| -%>
          <option value="<%= connection.id %>"><%= connection.name %></option>
        <%- end -%>
        </select>
    </tr>
    <tr>
      <td class="left"><label for="table_name">Table</label></td>
      <td>
        <input id="table_name" name="resource[table_name]" type="text" value="<%= @resource.table_name %>" />
      </td>
    </tr>
  </table>
  <p>
    <input type="submit" value="Submit" /> or <a href="/projects/<%= @project.id %>">Cancel</a>
  </p>
</form>
