<% @breadcrumbs = [@project, @resource] %>
<%= error_messages_for @resource %>

<div class="strong">Choose a resource type:</div>
<div id="resource-type-buttons" style="padding: 1em 0 2em 2em">
  <label for="resource-type-database">Database</label><input id="resource-type-database" type="radio" name="resource-type" value="database"<%= ' checked="checked"' if @resource.resource_type == 'database' %> />
  <label for="resource-type-csv">CSV</label><input id="resource-type-csv" type="radio" name="resource-type" value="csv"<%= ' checked="checked"' if @resource.resource_type == 'csv' %> />
</div>

<div id="resource-database"<%= ' style="display: none"' if @resource.resource_type != 'database' %>>
  <form method="post" action="/projects/<%= @project.id %>/resources">
    <div style='display: none;'><input type='hidden' name="resource[resource_type]" value="database" /></div>
    <%- if @connections.empty? -%>
    <h2>Connection</h2>
    <table class="form">
      <tr>
        <td class="left"><label for="connection_name" class="strong">Name</label></td>
        <td>
          <input id="connection_name" name="resource[connection_attributes][name]" type="text" value="<%=h @resource.connection.name %>" />
        </td>
      </tr>
      <tr class="alt">
        <td class="left"><label for="adapter" class="strong">Type</label></td>
        <td>
          <select id="adapter" name="resource[connection_attributes][adapter]">
          <%- Coupler::Models::Connection::ADAPTERS.each do |(value, label)| -%>
            <option value="<%= value %>"<%= ' selected="selected"' if @resource.connection.adapter == value %>><%= label %></option>
          <%- end -%>
          </select>
        </td>
      </tr>
      <tr>
        <td class="left"><label for="host" class="strong">Host</label></td>
        <td>
          <input id="host" name="resource[connection_attributes][host]" type="text" value="<%=h @resource.connection.host %>" />
        </td>
      </tr>
      <tr class="alt">
        <td class="left"><label for="port" class="strong">Port</label></td>
        <td>
          <input id="port" name="resource[connection_attributes][port]" type="text" value="<%=h @resource.connection.port %>" />
        </td>
      </tr>
      <tr>
        <td class="left"><label for="username" class="strong">Username</label></td>
        <td>
          <input id="username" name="resource[connection_attributes][username]" type="text" value="<%=h @resource.connection.username %>" />
        </td>
      </tr>
      <tr class="alt">
        <td class="left"><label for="password" class="strong">Password</label><br/></td>
        <td>
          <input id="password" name="resource[connection_attributes][password]" type="password" />
        </td>
      </tr>
      <tr>
        <td class="left"><label for="database_name" class="strong">Database</label></td>
        <td>
          <input id="database_name" name="resource[connection_attributes][database_name]" type="text" value="<%= @resource.connection.database_name %>" />
        </td>
      </tr>
    </table>
    <%- end -%>
    <h2>Resource information</h2>
    <table class="form">
      <tr<%= cycle("", ' class="alt"') %>>
        <td class="left"><label for="name" class="strong">Name</label></td>
        <td>
          <input id="name" name="resource[name]" type="text" />
        </td>
      </tr>
      <%- if !@connections.empty? -%>
      <tr<%= cycle("", ' class="alt"') %>>
        <td class="left"><label for="connection_id" class="strong">Connection</label></td>
        <td>
          <select id="connection_id" name="resource[connection_id]">
          <%- @connections.each do |connection| -%>
            <option value="<%= connection.id %>"><%= connection.name %></option>
          <%- end -%>
          </select>
        </td>
      </tr>
      <%- end -%>
      <tr<%= cycle("", ' class="alt"') %>>
        <td class="left"><label for="table_name" class="strong">Table</label></td>
        <td>
          <input id="table_name" name="resource[table_name]" type="text" value="<%= @resource.table_name %>" />
        </td>
      </tr>
    </table>
    <p>
      <input type="submit" value="Submit" /> or <a href="/projects/<%= @project.id %>">Cancel</a>
    </p>
  </form>
</div>

<div id="resource-csv"<%= ' style="display: none"' if @resource.resource_type != 'csv' %>>
  <form id="new-import" method="post" action="/projects/<%= @project.id %>/imports/upload" enctype="multipart/form-data">
    <div style='display: none;'><input type='hidden' name="resource[resource_type]" value="csv" /></div>
    <h2>CSV Import</h2>
    <p>
      <input type="file" name="data" />
    </p>
  </form>
</div>

<script type="text/javascript">
  $(function() {
    $('#resource-type-buttons').buttonset()
      .find('input').change(function() {
        val = $(this).val();
        if (val == "database") {
          $('#resource-csv').fadeOut('fast', function() {
            $('#resource-database').fadeIn('fast');
          });
        }
        else if (val == "csv") {
          $('#resource-database').fadeOut('fast', function() {
            $('#resource-csv').fadeIn('fast');
          });
        }
      });
    $('input:file').change(function() {
      $('#new-import').submit();
    });
  });
</script>
