<%- @breadcrumbs = [@project, @resource] -%>
<%- add_javascript("jquery.tooltip.min.js", "jquery-ui.min.js", 'jquery.dataTables.min.js') -%>
<%- add_stylesheet('dataTables.css') -%>
<h2>Fields</h2>
<table id="fields" class="dataTable" style="clear: both;">
  <thead>
    <tr>
      <th>Field</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
  <%- @fields.each do |field| -%>
    <tr>
      <td<%= ' class="altered-field"' if field.is_generated %>><%= field.name %></td>
      <td<%= ' class="altered-field"' if field.local_db_type %>><%= field.final_db_type %></td>
    </tr>
  <%- end -%>
  </tbody>
</table>
<p>
  <a href="/projects/<%= @project.id %>/resources/<%= @resource.id %>/edit">Select Fields</a>
</p>

<h2>Transformations</h2>
<div class="section">
  <%= erb(:"transformations/list", :layout => false) %>
</div>

<h2>Status</h2>
<div class="section">
  <%- if @job -%>
    <% if @job.status == 'running' %>
      <p>This resource is currently being transformed (since <%= timeago(@job.started_at, 'strong', 'span') %>).</p>
      <div id="progressbar"></div>
      <div id="progressbar-info" style="float: left;"><%= "#{@job.completed} / #{@job.total}"   if @job.status == 'running' %></div>
      <img id="progressbar-spinner" src="/images/ajax-loader.gif" alt="Spinner" style="float: left;" />
      <div class="clear"></div>
    <% elsif @job.status == 'scheduled' %>
      <p>This resource is currently scheduled to be transformed (since <%= timeago(@job.created_at, 'strong', 'span') %>).</p>
    <% end %>
  <% else %>
    <p>
      Status: <span class="strong"<%= ' style="color: red;"' if @resource.status != "ok" %>><%= humanize(@resource.status) %></span><br/>
      <% if !@transformations.empty? %>
        Last transformed: <%= timeago(@resource.transformed_at, 'strong', 'span') %>
      <% end %>
    </p>
    <% if !@transformations.empty? %>
      <form method="get" action="/projects/<%= @project.id %>/resources/<%= @resource.id %>/transform">
        <p>
          <input onclick="return confirm('Are you sure you want to transform this resource?');" value="Transform now" type="submit" />
        </p>
      </form>
    <% end %>
  <% end %>
</div>

<% if !@scenarios.empty? %>
<h2>Related Scenarios</h2>
<div class="section">
  <%= erb(:"scenarios/list", :layout => false) %>
</div>
<% end %>

<script type="text/javascript">
  var intervalId;
  $(function() {
    $('#fields').dataTable({bJQueryUI: true, aaSorting: [], aoColumns: [null, null] });
    $('.tooltip').tooltip({ delay: 0, track: true, showURL: false, showBody: " - " });
  <%- if @job && @job.status == 'running' -%>
    $('#progressbar').progressbar({value: <%= @job.percent_completed %>});
    setInterval(function() {
      $.get("/jobs/<%= @job.id %>/progress", function(data) {
        var total = parseInt(data.total);
        var completed = parseInt(data.completed);
        var percent = completed / total * 100;
        $('#progressbar').progressbar('option', 'value', percent);
        $('#progressbar-info').html(completed + " / " + total);
        if (percent == 100) {
          window.location.reload(true);
        }
      }, 'json');
    }, 5000);
  <%- end -%>
  });
</script>
