<table class="form">
  <tbody>
    <tr>
      <td class="left">Filename</td>
      <td><%= @importer.filename %></td>
    </tr>
  </tbody>
</table>
<%= params[:file].inspect %>

<h3>Columns</h3>
<div class="section">
  <table class="list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Key</th>
      </tr>
    </thead>
    <tbody>
    <%- @importer.columns.each_with_index do |(name, info), i| -%>
      <tr<%= " class='alt'" if i % 2 == 1 %>>
        <td><%= name %></td>
        <td>
          <select name="importer[columns][<%= name %>][type]">
          <%- %w{string integer datetime boolean float enum}.each do |type| -%>
            <option<%= ' selected="selected"'   if type == info[:type].to_s %>><%= type %></option>
          <%- end -%>
          </select>
        </td>
        <td>
          <%= info[:primary_key] ? "Yes" : "No" %>
        </td>
      </tr>
    <%- end -%>
    </tbody>
  </table>
</div>

<h3>Data Preview</h3>
<div class="section">
  <table id="csv-data" class="dataTable">
    <thead>
      <tr>
      <%- @importer.data[0].headers.each do |name| -%>
        <th><%= name %></th>
      <%- end -%>
      </tr>
    </thead>
    <tbody>
    <%- @importer.data.each_with_index do |row, i| -%>
      <tr>
      <%- row.each do |_, value| -%>
        <td><%=h value %></td>
      <%- end -%>
    <%- end -%>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $(function() {
    $('#csv-data').dataTable({
      bJQueryUI: true
    });
  });
</script>
