<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Coupler</title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <%= stylesheet_links %>
  <%= javascript_includes %>
</head>
<body>
<div id="main" class="container_16">

<div id="sidebar" class="grid_2">
  <ul>
    <li><a href="/"><img src="/images/home.gif" />Home</a></li>
    <li>
      <a href="/jobs"><img src="/images/jobs.gif" />Jobs</a>
      <div id="job-count">
      <% if (num = Coupler::Models::Job.filter(:completed_at => nil).count) > 0 %>
        (<%= num %>)
      <% end %>
      </div>
    </li>
  </ul>
</div>

<div id="content" class="grid_14">
<%= breadcrumbs %>
<div class="inner">
  <%= yield %>
</div>
</div>
<div class="clear"></div>

<div id="about">
  <div class="text">
    Coupler is open source software.  View the source
    <a href="http://github.com/coupler/coupler">here</a>.
  </div>
</div>

</div>

<script type="text/javascript">
  function updateJobCount() {
    $.get("/jobs/count", function(data) {
      if (data == "0") {
        $('#job-count').html("")
      } else {
        $('#job-count').html("("+data+")")
      }
    });
  }
  $(function() {
    $('.timeago').timeago();
    setInterval(updateJobCount, 30000);
  });
</script>
</body>
</html>
