<% @breadcrumbs = [@project, @scenario] %>
<%= error_messages_for @scenario %>
<form method="post" action="/projects/<%= @project.id %>/scenarios">
  <table id="form-table" class="form">
    <tr>
      <td class="left"><label for="name">Name</label></td>
      <td>
        <input id="name" name="scenario[name]" type="text" value="<%= @scenario.name %>" />
      </td>
    </tr>
    <tr class="alt">
      <td class="left"><label for="description">Description</label></td>
      <td>
        <input id="name" name="scenario[description]" type="text" value="<%= @scenario.description %>" />
      </td>
    </tr>
    <tr>
      <td class="left"><label for="type">Type</label></td>
      <td>
        <select id="type" name="scenario[type]">
          <option></option>
          <% [%w{self-join Self-join}, %w{dual-join Dual-join}].each do |(value, label)| %>
            <option value="<%= value %>"<%= ' selected="selected"' if @scenario[:type] == value %>><%= label %></option>
          <% end %>
        </select>
      </td>
    </tr>
    <tr class="alt">
      <td class="left"><label for="resource">Resource(s)</label></td>
      <td>
        <select id="resource" name="resource_ids[]" multiple="multiple">
        <% @project.resources.each do |resource| %>
          <option value="<%= resource.id %>"><%= resource.name %></option>
        <% end %>
        </select>
      </td>
    </tr>
  </table>
  <p>
    <input type="submit" value="Submit" /> or <a href="/projects/<%= @project.id %>">Cancel</a>
  </p>
</form>
