<% @breadcrumbs = [@project, @scenario] %>
<% if flash[:newly_created] %>
<div id="notice">
  Scenario successfully created!  Next you'll need to add matchers.
</div>
<% end %>

<h2>Resource(s)</h2>
<div class="section">
  <%= erb(:"resources/list", :layout => false) %>
</div>

<h2>Matchers</h2>
<div class="section">
  <%= erb(:"matchers/list", :layout => false) %>
  <p>
    <a href="/projects/<%= @project.id %>/scenarios/<%= @scenario.id %>/matchers/new">Add matcher</a>
  </p>
</div>

<h2>Run</h2>
<div class="section">
  <p>
    Status: <strong><%= humanize(@scenario.status) %></strong><br/>
    Last run at: <strong><%= @scenario.run_at || "Never" %></strong>
  </p>
  <form method="get" action="/projects/<%= @project.id %>/scenarios/<%= @scenario.id %>/run" class="button-to">
    <p>
      <input onclick="return confirm('Are you sure?');" value="Run now" type="submit" />
    </p>
  </form>
</div>
