<% @breadcrumbs = [@project, @scenario] %>
<% if flash[:newly_created] %>
<div id="notice">
  Scenario successfully created!  Next you'll need to add a matcher.
</div>
<% end %>

<h2>Resource(s)</h2>
<div class="section">
  <%= erb(:"resources/list", :layout => false) %>
</div>

<h2>Matcher</h2>
<div class="section">
  <%= erb(:"matchers/list", :layout => false) %>
  <%- if @matcher.nil? -%>
  <p>
    <a href="/projects/<%= @project.id %>/scenarios/<%= @scenario.id %>/matchers/new">Add matcher</a>
  </p>
  <%- end -%>
</div>

<h2>Status</h2>
<div class="section">
<% if !@running_jobs.empty? %>
  <p>This scenario is currently being run:</p>
  <%= erb(:'jobs/list', {:layout => false}, {:jobs => @running_jobs, :show_target => false}) %>
<% elsif !@scheduled_jobs.empty? %>
  <p>This scenario is currently scheduled to run:</p>
  <%= erb(:'jobs/list', {:layout => false}, {:jobs => @scheduled_jobs, :show_target => false}) %>
<% else %>
  <div class="p">
    Status: <span class="strong"<%= ' style="color: red"' if @scenario.status != 'ok' %>><%= humanize(@scenario.status) %></span><br/>
    Last run: <%= timeago(@scenario.last_run_at, "inline strong") %>
  </div>
  <%- if @scenario.status == 'ok' -%>
    <form method="get" action="/projects/<%= @project.id %>/scenarios/<%= @scenario.id %>/run" class="button-to">
      <p>
        <input onclick="return confirm('Are you sure you want to run this scenario?');" value="Run now" type="submit" />
      </p>
    </form>
  <%- end -%>
<% end %>
</div>
<% if @results.length > 0 %>
  <h2>Results</h2>
  <div class="section">
    <%= erb(:"results/list", :layout => false) %>
  </div>
<% end %>
