<%- @breadcrumbs = [@project, @scenario, @matcher.new? ? "New Matcher" : "Edit Matcher"] -%>
<%- add_javascript('jquery-ui.min.js') -%>
<%= error_messages_for @matcher %>
<%= form_tag_for(@matcher, :base_url => "/projects/#{@project.id}/scenarios/#{@scenario.id}/matchers") %>
  <h3>Comparisons</h3>
  <%- if @matcher.comparisons.count == 0 -%>
  <div id="no-comparisons" style="margin-bottom: 1em;">
    There are currently no fields selected.
  </div>
  <%- end -%>
  <div id="comparisons" style="display: <%= @matcher.comparisons.count == 0 ? "none;" : "block;" %>">
    <table class="list">
      <thead>
        <tr>
          <th>#</th>
          <th>Value 1</th>
          <th></th>
          <th>Value 2</th>
        </tr>
      </thead>
      <tbody>
      <%- @matcher.comparisons.each_with_index do |comparison, i| -%>
        <tr id="comparison-row-<%= i %>">
          <td><%= i + 1 %></td>
          <td><%= comparison.lhs_label %></td>
          <td><%= comparison.operator_symbol %></td>
          <td><%= comparison.rhs_label %></td>
          <td><a href="#" onclick="deleteComparison(<%= i %>); return false;">Delete</a></td>
        </tr>
      <%- end -%>
      </tbody>
    </table>
  <%- @matcher.comparisons.each_with_index do |comparison, i| -%>
    <%-# This could be done in one loop, but it's a lot less readable -%>
    <div id='comparison-<%= i %>' style='display: none;'>
      <% if !comparison.new? %><input type='hidden' name='matcher[comparisons_attributes][<%= i %>][id]' value='<%= comparison.id %>' /><% end %>
      <input type='hidden' name='matcher[comparisons_attributes][<%= i %>][lhs_type]' value='<%= comparison.lhs_type %>' />
      <input type='hidden' name='matcher[comparisons_attributes][<%= i %>][lhs_value]' value='<%= comparison.raw_lhs_value %>' />
      <input type='hidden' name='matcher[comparisons_attributes][<%= i %>][lhs_which]' value='<%= comparison.lhs_which %>' />
      <input type='hidden' name='matcher[comparisons_attributes][<%= i %>][lhs_value]' value='<%= comparison.raw_lhs_value %>' />
      <input type='hidden' name='matcher[comparisons_attributes][<%= i %>][rhs_type]' value='<%= comparison.rhs_type %>' />
      <input type='hidden' name='matcher[comparisons_attributes][<%= i %>][rhs_value]' value='<%= comparison.raw_rhs_value %>' />
      <input type='hidden' name='matcher[comparisons_attributes][<%= i %>][rhs_which]' value='<%= comparison.rhs_which %>' />
      <input type='hidden' name='matcher[comparisons_attributes][<%= i %>][operator]' value='<%= comparison.operator %>' />
    </div>
  <%- end -%>
  </div>
  <p>
    <a href="#" onclick="addComparison(); return false;">Add comparison</a>
  </p>
  <h3>Finish</h3>
  <div id="no-finish" style="display: <%= @matcher.comparisons.count == 0 ? "block;" : "none;" %>">
    You must add at least one field before finishing, or you can <a href="/projects/<%= @project.id %>/scenarios/<%= @scenario.id %>">cancel</a>.
  </div>
  <div id="finish" style="display: <%= @matcher.comparisons.count == 0 ? "none;" : "block;" %>">
    <input type="submit" value="Submit" /> or <a href="/projects/<%= @project.id %>/scenarios/<%= @scenario.id %>">Cancel</a>
  </div>

  <div id="add-comparison-dialog" style="display: none;">
    <table class="form">
      <thead>
        <tr>
          <th>Type</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
      <%- %w{lhs rhs}.each do |name| -%>
        <tr>
          <td>
            <select id="<%= name %>_type">
            <%- Coupler::Models::Comparison::TYPES.each do |type| -%>
              <option value="<%= type %>"<%= ' selected="selected"' if type == 'field' %>><%= type.capitalize %></option>
            <%- end -%>
            </select>
          </td>
          <td>
            <select id="<%= name %>_value_select" style="width: 100%">
              <option></option>
            <%- @resources.values_at(0, -1).each_with_index do |resource, i| -%>
              <optgroup label="<%= resource.name %><%= " [#{i+1}]" if @resources.length == 1 %>">
              <%- resource.selected_fields.each do |field| -%>
                <option value="<%= i+1 %>__<%= field.id %>"><%= field.name %></option>
              <%- end -%>
              </optgroup>
            <%- end -%>
            </select>
            <input id="<%= name %>_value_text" type="text" style="display: none;" />
          </td>
        </tr>
      <%- end -%>
      </tbody>
    </table>
    <div style="padding-top: 1em">
      <strong><label for="operator">Operator:</label></strong>
      <select id="operator">
      <%- Coupler::Models::Comparison::OPERATORS.keys.each do |type| -%>
        <option value="<%= type %>"><%= humanize(type) %></option>
      <%- end -%>
      </select>
    </div>
  </div>
</form>

<script type="text/javascript">
  var totalComparisons = <%= @matcher.comparisons.length %>;
  var numComparisons = <%= @matcher.comparisons.length %>;
  var operators = <%= Coupler::Models::Comparison::OPERATORS.to_json %>;
  var resources = <%= @resources.collect(&:name).to_json %>;

  function addComparison() {
    $('#add-comparison-dialog').dialog('open');
  }

  function deleteComparison(i) {
    container = $('#comparison-'+i);
    if (container.find('input[name$="[id]"]').length > 0) {
      container.append("<input type='hidden' name='matcher[comparisons_attributes]["+i+"][_delete]' value='true' />");
      $('#comparison-row-'+i)
        .addClass('strikethrough')
        .find('td:last')
        .html('<a href="#" onclick="undeleteComparison('+i+'); return false;">Undelete</a>')
        .css('textDecoration', 'none');
    }
    else {
      container.remove();
      $('#comparison-row-'+i).remove();
    }
    if (--numComparisons == 0) {
      $('#no-finish').show();
      $('#finish').hide();
    }
  }

  function undeleteComparison(i) {
    $('#comparison-'+i+' input[name*=delete]').remove();
    $('#comparison-row-'+i)
      .removeClass('strikethrough')
      .find('td:last')
      .html('<a href="#" onclick="deleteComparison('+i+'); return false;">Delete</a>');
    if (++numComparisons == 1) {
      $('#no-finish').hide();
      $('#finish').show();
    }
  }

  $(function() {
    $('#add-comparison-dialog').dialog({
      autoOpen: false, title: "Add comparison", modal: true, width: 'auto',
      buttons: {
        "Add": function() {
          var types = [];
          var values = [];
          var labels = [];
          var whichs = [];
          var operator = $('#operator').val();
          $('#lhs_type, #rhs_type').each(function() {
            var type = $(this);
            types.push(type.val());
            var name = type.attr('id').replace(/_type$/, "")
            if (type.val() == 'field') {
              var obj = $('#'+name+'_value_select :selected');
              var label = obj.html();

              var md = obj.val().match(/^([12])__(\d+)$/);
              var which = md[1]
              var id = md[2];
              if (resources.length == 1) {
                label += ' ('+resources[0]+'<span class="sup">'+which+'</span>)';
              }
              else {
                label += ' ('+resources[parseInt(which)-1]+')';
                which = ''
              }
              values.push(id); whichs.push(which); labels.push(label);
            }
            else {
              var obj = $('#'+name+'_value_text');
              values.push(obj.val());
              if (type.val() == 'string') {
                labels.push('"'+obj.val()+'"');
              }
              else {
                labels.push(obj.val());
              }
              whichs.push('');
            }
          });

          $("<tr id='comparison-row-"+totalComparisons+"'></tr>")
            .append("<td>"+(totalComparisons+1)+"</td>")
            .append("<td>"+labels[0]+"</td>")
            .append("<td>"+operators[operator]+"</td>")
            .append("<td>"+labels[1]+"</td>")
            .append("<td><a href='#' onclick='deleteComparison("+totalComparisons+"); return false;'>Delete</a></td>")
            .appendTo($('#comparisons table tbody'));
          $("<div id='comparison-"+totalComparisons+"' style='display: none;'></div>")
            .append("<input type='hidden' name='matcher[comparisons_attributes]["+totalComparisons+"][lhs_type]' value='"+types[0]+"' />")
            .append("<input type='hidden' name='matcher[comparisons_attributes]["+totalComparisons+"][lhs_value]' value='"+values[0]+"' />")
            .append("<input type='hidden' name='matcher[comparisons_attributes]["+totalComparisons+"][lhs_which]' value='"+whichs[0]+"' />")
            .append("<input type='hidden' name='matcher[comparisons_attributes]["+totalComparisons+"][rhs_type]' value='"+types[1]+"' />")
            .append("<input type='hidden' name='matcher[comparisons_attributes]["+totalComparisons+"][rhs_value]' value='"+values[1]+"' />")
            .append("<input type='hidden' name='matcher[comparisons_attributes]["+totalComparisons+"][rhs_which]' value='"+whichs[1]+"' />")
            .append("<input type='hidden' name='matcher[comparisons_attributes]["+totalComparisons+"][operator]' value='"+operator+"' />")
            .appendTo($('#comparisons'));
          numComparisons++;
          totalComparisons++;

          $('#no-comparisons').hide();
          $('#comparisons').show();
          $('#no-finish').hide();
          $('#finish').show();
          $('#add-comparison-dialog').dialog('close');
        },
        "Cancel": function() {
          $('#add-comparison-dialog').dialog('close');
        }
      }
    });
    $('#lhs_type, #rhs_type').change(function() {
      obj = $(this);
      name = obj.attr('id').replace(/_type$/, "")
      if (obj.val() == 'field') {
        $("#"+name+"_value_select").show();
        $("#"+name+"_value_text").hide();
      }
      else {
        $("#"+name+"_value_select").hide();
        $("#"+name+"_value_text").show();
      }
    });
    $('#lhs_value_select').change(function() {
      if ($("#rhs_type").val() == "field") {
        // try to select an analagous second field
        var rhs_value_select = $('#rhs_value_select');
        var lhs_value = $(this).find(':selected');
        if (lhs_value.val().match(/^1__/) != null) {
          if (resources.length == 1) {
            // field from first self-linkage table selected
            rhs_value_select.val(lhs_value.val().replace(/^1__/, '2__'));
          }
          else {
            option = rhs_value_select.find('option[value^=2__]:contains('+lhs_value.html()+')')
            if (option.length > 0) {
              rhs_value_select.val(option.attr('value'));
            }
          }
        }
      }
    });
  });
</script>
