<% if @matcher.nil? %>
<p>There is currently no matcher for this scenario.</p>
<% else %>
<table class="list">
  <thead>
    <tr>
      <th>Value 1</th>
      <th></th>
      <th>Value 2</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%- comparisons = @matcher.comparisons -%>
    <tr>
      <td><%= comparisons[0].lhs_label %></td>
      <td><%= comparisons[0].operator_symbol %></td>
      <td><%= comparisons[0].rhs_label %></td>
      <td rowspan="<%= comparisons.length %>"><a href="/projects/<%= @project.id %>/scenarios/<%= @scenario.id %>/matchers/<%= @matcher.id %>/edit">Edit</a></td>
      <td rowspan="<%= comparisons.length %>"><%= delete_link("Delete", "/projects/#{@project.id}/scenarios/#{@scenario.id}/matchers/#{@matcher.id}") %></td>
    </tr>
    <%- comparisons[1..-1].each_with_index do |comparison, j| -%>
    <tr<%= " class='alt'" if j % 2 == 0 %>>
      <td><%= comparison.lhs_label %></td>
      <td><%= comparison.operator_symbol %></td>
      <td><%= comparison.rhs_label %></td>
    </tr>
    <%- end -%>
  </tbody>
</table>
<% end %>
