<% if @matchers.empty? %>
<p>There are currently no matchers for this scenario.</p>
<% else %>
<table class="list">
  <thead>
    <tr>
      <th>#</th>
      <th>Value 1</th>
      <th></th>
      <th>Value 2</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @matchers.each_with_index do |matcher, i| %>
    <%- comparisons = matcher.comparisons -%>
    <tr<%= " class='alt'" if i % 2 == 1 %>>
      <td rowspan="<%= comparisons.length %>"><%= i + 1 %></td>
      <td><%= (x = comparisons[0].lhs_value).respond_to?(:name) ? x.name : x.inspect %></td>
      <td><%= comparisons[0].operator_symbol %></td>
      <td><%= (x = comparisons[0].rhs_value).respond_to?(:name) ? x.name : x.inspect %></td>
      <td rowspan="<%= comparisons.length %>"><a href="/projects/<%= @project.id %>/scenarios/<%= @scenario.id %>/matchers/<%= matcher.id %>/edit">Edit</a></td>
      <td rowspan="<%= comparisons.length %>"><%= delete_link("Delete", "/projects/#{@project.id}/scenarios/#{@scenario.id}/matchers/#{matcher.id}") %></td>
    </tr>
    <%- comparisons[1..-1].each_with_index do |comparison, j| -%>
    <tr<%= " class='alt'" if i % 2 == 1 %>>
      <td><%= (x = comparison.lhs_value).respond_to?(:name) ? x.name : x.inspect %></td>
      <td><%= comparison.operator_symbol %></td>
      <td><%= (x = comparison.rhs_value).respond_to?(:name) ? x.name : x.inspect %></td>
    </tr>
    <%- end -%>
  <% end %>
  </tbody>
</table>
<% end %>
