<% add_javascript("jquery-ui.min.js", "resource.js") %>
<% add_stylesheet("jquery-ui.css") %>
<% if flash[:newly_created] %>
<div id="notice">
  Resource successfully created!  Next, if you want to change this resource's fields, you'll need to add transformations.
</div>
<% end %>

<h1><%= @resource.name %> in <%= @project.name %></h1>

<h2>Source Fields</h2>
<table class="list">
  <thead>
    <tr>
      <th>Field</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <% @resource.schema.each do |(column_name, info)| %>
      <tr>
        <td><%= column_name %></td>
        <td><%= info[:db_type] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Transformations</h2>

<% if @transformations.empty? %>
<p>
  There are currently no transformations for this resource.
</p>
<% else %>
<%= erb(:"transformations/list", :layout => false) %>
<% end %>
<p>
  <a href="/projects/<%= @project.slug %>/resources/<%= @resource.id %>/transformations/new">Add transformation</a>
</p>

<h3>Status</h3>

<p>
  Last transformed at: <strong><%= @resource.transformed_at || "Never" %></strong>
</p>
<p>
  <input id="transform-button" type="button" value="Transform &raquo;" />
</p>

<div id="transform-dialog">
  <div id="transform-1" style="display: block;">
    <form method="get" action="/projects/<%= @project.slug %>/resources/<%= @resource.id %>/transform">
      <p>
        This may take a while.  Make sure you have your transformations set up
        correctly.  Do you want to proceed?
      </p>
      <div style="text-align: center">
        <input id="transform-ok-button" type="submit" value="Yes" />
        <input id="transform-cancel-button" type="button" value="No" />
      </div>
    </form>
  </div>
</div>
