<h1><%= @resource.name %> in <%= @project.name %></h1>

<% if flash[:newly_created] %>
  <p class="flash">
    Resource successfully created!

    Next, if you want to add or change this resource's fields, you'll need to add transformations.
  </p>
<% end %>

<table class="list">
  <thead>
    <tr>
      <th>Field</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <% @resource.schema.each do |(column_name, info)| %>
      <tr>
        <td><%= column_name %></td>
        <td><%= info[:db_type] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Transformations</h2>

<table>
  <thead>
    <tr>
      <th>Field name</th>
      <th>Transformer</th>
    </tr>
  </thead>
  <tbody>
  <% @transformations.each do |transformation| %>
    <tr>
      <td><%= transformation[:field_name] %></td>
      <td><%= transformation[:transformer_name] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<p>
  <a href="/projects/<%= @project.slug %>/resources/<%= @resource.id %>/transformations/new">Add transformation</a>
</p>
