<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Coupler</title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <%= stylesheet_links %>
  <%= javascript_includes %>
</head>
<body>
<div id="main" class="container_16">

<div id="sidebar" class="grid_2">
  <ul>
    <li><a href="/"><img src="/images/home.gif" />Home</a></li>
  </ul>
  <div class="about">
    Coupler is open source software.  View the source
    <a href="http://github.com/coupler/coupler">here</a>.
  </div>
</div>

<div id="content" class="grid_14">
<div id="breadcrumbs">
  <div class="crumb">Projects</div>
  <% if @project %>
    <div class="crumb">/</div>
    <div class="crumb"><a href="/projects/<%= @project.slug %>"><%= @project.name.capitalize %></a></div>
    <% if @resource %>
      <div class="crumb">/</div>
      <% if @resource.new? %>
        <div class="crumb">New Resource</div>
      <% else %>
        <div class="crumb">Resources</div>
        <div class="crumb">/</div>
        <div class="crumb"><a href="/projects/<%= @project.slug %>/resources/<%= @resource.id %>"><%= @resource.name.capitalize %></a></div>
        <% if @transformation %>
          <div class="crumb">/</div>
          <div class="crumb">New Transformation</div>
        <% end %>
      <% end %>
    <% elsif @scenario %>
      <div class="crumb">/</div>
      <% if @scenario.new? %>
        <div class="crumb">New Scenario</div>
      <% else %>
        <div class="crumb">Scenarios</div>
        <div class="crumb">/</div>
        <div class="crumb"><a href="/projects/<%= @project.slug %>/scenarios/<%= @scenario.id %>"><%= @scenario.name.capitalize %></a></div>
        <% if @matcher %>
          <div class="crumb">/</div>
          <div class="crumb">New Matcher</div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <div class="clear"></div>
</div>
<div class="inner">
  <%= yield %>
</div>
</div>
<div class="clear"></div>

</div>
</body>
</html>
