<div class="column-name column-header">
  Field
  <div class="resize-handle"></div>
</div>
<div class="column-value column-header">
  Value
  <div class="resize-handle"></div>
</div>
<%- @num_columns.times do |i| -%>
  <div class="column-name row-<%= i % 2 %>">
    <%= @columns[i] || "&nbsp;" %>
    <div class="resize-handle"></div>
  </div>
  <div class="column-value row-<%= i % 2 %>">
    <%= @columns[i] ? @record[@columns[i]] : "&nbsp;" %>
    <div class="resize-handle"></div>
  </div>
<%- end -%>
<div class="clear"></div>
<div class="record-navigation">
  Record <%= @index + 1 %> of <%= @total %>
  <span class="record-nav previous-record record-<%= @index > 0 ? @index - 1 : 'x' %><%= " which-#{@which}"  if @which %> ui-icon ui-icon-circle-arrow-w"></span>
  <span class="record-nav next-record record-<%= @index + 1 < @total ? @index + 1 : 'x' %><%= " which-#{@which}"  if @which %> ui-icon ui-icon-circle-arrow-e"></span>
</div>
