<%- @breadcrumbs = ["Projects"] -%>
<ul class="projects">
  <%- @projects.each_with_index do |project, i| -%>
    <li class="project ui-widget" style="z-index: <%= 100 - (i * 3) %>;">
      <%- if project.description.present? -%>
        <div class="tooltip ui-corner-right" style="z-index: <%= 98 - (i * 3) %>;">
          <h3>Description</h3>
          <div class="description"><%= h(project.description) %></div>
        </div>
      <%- end -%>
      <div class="header ui-widget-header ui-corner-tl ui-corner-tr" style="z-index: <%= 99 - (i * 3) %>;"><a href="/projects/<%= project.id %>" title="<%= h(project.name) %>"><%= project.name %></a></div>
      <div class="content ui-widget-content ui-corner-bl ui-corner-br" style="z-index: <%= 99 - (i * 3) %>;">
        <ul class="links">
          <li><span class="ui-icon ui-icon-document"></span><a href="/projects/<%= project.id %>/resources">Resources</a> (<%= @resource_counts[project.id] || 0 %>)</li>
          <li><span class="ui-icon ui-icon-document"></span><a href="/projects/<%= project.id %>/scenarios">Scenarios</a> (<%= @scenario_counts[project.id] || 0 %>)</li>
        </ul>
        <div class="buttons">
          <button class="edit-project" onclick="window.location.href = '/projects/<%= project.id %>/edit'">Edit</button>
          <button class="delete-project" onclick="return deleteProject(<%= project.id %>, '<%= project.name %>');">Delete</button>
        </div>
      </div>
    </li>
  <%- end -%>
</ul>
<div class="clear"></div>
<p>
  <a href="/projects/new">New Project</a>
</p>
<div id="delete-project-dialog" style="display: none;">
  <form id="delete-form" method="post">
    <div style="display: none;">
      <input type="hidden" name="_method" value="delete" />
    </div>
    <div id="confirm-1">
      <p>Are you sure you want to delete this project?  This will delete everything about this project, including scenarios and resources.</p>
      <br/>
      <p>
        <label for="nuke">Delete old versions, too?</label>
        <input id="nuke" name="nuke" type="checkbox" value="true" />
      </p>
    </div>
    <div id="confirm-2" style="display: none;">
      <div id="nuke-choice" style="margin-bottom: 1em;">You have chosen to delete the project <strong>AND</strong> its history.</div>
      <p>Are you really sure?</p>
    </div>
  </form>
</div>
<div id="tooltip" style="display: none;"></div>

<script type="text/javascript">
  function deleteProject(id, name) {
    $('#delete-form').attr('action', '/projects/'+id);
    $('#delete-project-dialog').dialog('option', 'title', 'Delete '+name).dialog('open');
  }
  $(function() {
    $('#delete-project-dialog').dialog({
      autoOpen: false,
      buttons: {
        "Yes": function() {
          if ($('#confirm-1').is(':visible')) {
            $('#nuke-choice').toggle($('#nuke').is(':checked'));
            $('#confirm-1').hide();
            $('#confirm-2').show();
          }
          else {
            $('#delete-form').submit();
          }
        },
        "No": function() {
          $('#delete-project-dialog').dialog('close');
          $('#nuke').attr('checked', false)
          $('#confirm-1').show();
          $('#confirm-2').hide();
        }
      },
      modal: true
    });
    $('button.edit-project').button({icons: { primary: 'ui-icon-pencil' }});
    $('button.delete-project').button({icons: { primary: 'ui-icon-trash' }});

    $('li.project:has(.tooltip)').
      mouseenter(function() {
        var t = $(this);
        t.find('.header').removeClass('ui-corner-tr');
        t.find('.content').removeClass('ui-corner-br');
        t.find('.tooltip').stop().animate({right: '-125px'});
      }).
      mouseleave(function() {
        var t = $(this);
        t.find('.tooltip').stop().animate({right: '0px'}, function() {
          t.find('.header').addClass('ui-corner-tr');
          t.find('.content').addClass('ui-corner-br');
        });
      });
  });
</script>
