<% if @connections.empty? %>
<p>There are currently no connections.</p>
<% else %>
<table class="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Adapter</th>
      <th>Host</th>
      <th>Port</th>
      <th>Username</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @connections.each do |connection| %>
    <tr<%= cycle('', ' class="alt"') %>>
      <td><a href="/connections/<%= connection.id %>"><%= connection.name %></a></td>
      <td><%= connection.adapter %></td>
      <td><%= connection.host %></td>
      <td><%= connection.port %></td>
      <td><%= connection.username %></td>
      <td>
        <%- if connection.deletable? -%>
          <%= delete_link("<span class='ui-icon ui-icon-trash'></span>", "/connections/#{connection.id}") %>
        <%- end -%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
