<% @breadcrumbs = [@connection] %>
<%= error_messages_for @connection %>
<form method="post" action="/connections" class="connection-form">
  <table class="form">
    <tr>
      <td class="left"><label for="name">Name</label></td>
      <td>
        <input id="name" name="connection[name]" type="text" value="<%= @connection.name %>" />
      </td>
    </tr>
    <tr class="alt">
      <td class="left"><label for="adapter">Type</label></td>
      <td>
        <select id="adapter" name="connection[adapter]">
          <% Coupler::Models::Connection::ADAPTERS.each do |options| %>
            <option value="<%= options[:name] %>"<%= ' selected="selected"' if @connection.adapter == options[:name] %>><%= options[:label] %></option>
          <% end %>
        </select>
      </td>
    </tr>
    <tr>
      <td class="left"><label for="host">Host</label></td>
      <td>
        <input id="host" name="connection[host]" type="text" value="<%= @connection.host %>" />
      </td>
    </tr>
    <tr class="alt">
      <td class="left"><label for="port">Port</label></td>
      <td>
        <input id="port" name="connection[port]" type="text" value="<%= @connection.port %>" />
      </td>
    </tr>
    <tr>
      <td class="left"><label for="username">Username</label></td>
      <td>
        <input id="username" name="connection[username]" type="text" value="<%= @connection.username %>" />
      </td>
    </tr>
    <tr class="alt">
      <td class="left"><label for="password">Password</label><br/></td>
      <td>
        <input id="password" name="connection[password]" type="password" value="<%= @connection.password %>" />
      </td>
    </tr>
    <tr>
      <td class="left"><label for="database_name">Database</label></td>
      <td>
        <input id="database_name" name="connection[database_name]" type="text" value="<%= @connection.database_name %>" />
      </td>
    </tr>
    <tr>
      <td class="left"><label for="path">Path</label></td>
      <td>
        <input id="path" name="connection[path]" type="text" value="<%= @connection.path %>" />
      </td>
    </tr>
  </table>
  <p>
    <input type="submit" value="Submit" /> or <a href="/connections">Cancel</a>
  </p>
</form>
<script type="text/javascript">
  var ignoredAttribs = <%= Coupler::Models::Connection::ADAPTERS.inject({}) { |m, o| m[o[:name]] = o[:ignored_attributes]; m }.to_json %>
  function adapterSelected(fade) {
    var ignored = ignoredAttribs[$(this).val()];
    var enable = $([]);
    var disable = $([]);
    $("[name^=connection\\[]").each(function() {
      var obj = $(this);
      var row = obj.closest('tr');
      if ($.inArray(obj.attr('id'), ignored) == -1) {
        enable = enable.add(row);
      } else {
        disable = disable.add(row);
      }
    });
    if (typeof(fade) == 'undefined' || fade) {
      disable.fadeOut(function() {
        disable.find('input, select, textarea').attr('disabled', true);
        enable.find('input, select, textarea').attr('disabled', false);
        enable.fadeIn();
      });
    } else {
      disable.hide().find('input, select, textarea').attr('disabled', true);
      enable.find('input, select, textarea').attr('disabled', false).show();
    }
  }

  $(function() {
    var a = $('#adapter').change(adapterSelected);
    adapterSelected.call(a[0], false);
  });
</script>
