<% @breadcrumbs = [@project, @scenario, @matcher] %>
<script type="text/javascript">
  var comparator_options = {
  <% Coupler::Comparators.list.each_pair do |name, klass| %>
    '<%= name %>': <%= klass.const_get(:OPTIONS).to_json %>
  <% end %>
  };
  var resources = <%= @scenario.resources_dataset.order(:id).collect { |r| { 'id' => r.id, 'name' => r.name } }.to_json %>

  $(function() {
    $('#comparator_name').change(function() {
      div = $('#comparator_options').html('');
      opts = comparator_options[$(this).val()];
      if (opts) {
        $.each(resources, function(i, resource) {
          $.each(opts, function(j, option) {
            p = $('<p/>');
            label = $('<label/>')
              .attr('for', option.name+"_"+resource.id)
              .html(option.label+' for '+resource.name);
            input = $('<input/>')
              .attr('type', option.type)
              .attr('id', option.name+"_"+resource.id)
              .attr('name', 'matcher[comparator_options]['+resource.id+']['+option.name+']');
            p.append(label).append('<br/>').append(input);
            div.append(p);
          });
        });
      }
    });
  });
</script>

<%= error_messages_for @matcher %>
<form method="post" action="/projects/<%= @project.id %>/scenarios/<%= @scenario.id %>/matchers">
  <p>
    <label for="comparator_name">Comparator</label><br/>
    <select id="comparator_name" name="matcher[comparator_name]">
      <option></option>
    <% Coupler::Comparators.list.keys.each do |comparator_name| %>
      <option><%= comparator_name %></option>
    <% end %>
    </select>
  </p>
  <div id="comparator_options">
  </div>
  <p>
    <input type="submit" value="Submit" /> or <a href="/projects/<%= @project.id %>/scenarios/<%= @scenario.id %>">Cancel</a>
  </p>
</form>
